body{
    background: black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: goldenrod;
    margin: 0px;
    padding: 0px;
    
}       

#header{
    background: rgb(52, 53, 58);
    margin: 10px;
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#title{
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    padding: 25px;
}

#instructions{
    padding: 10px;
}

#action-bar{
    list-style: none;
    margin-bottom: 30px;
    margin-top: 50px;
    position: relative;
}

#slider{
    -webkit-appearance: none;
    width: 300px;
    height: 10px;
    outline: 6px;
    border-radius: 7px;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 32px;
    height:32px;
    cursor: pointer;
    z-index: 3;
    position: relative;
}


 
#selector{
    height: 70px;
    width: 32px;
    position: absolute;
    bottom: -20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.selectBtn{
    height: 32px;
    width: 32px;
    background-image: url(icon.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

#selectValue{
    width: 32px;
    height:32px;
    position: absolute;
    top: 0;
    background: #2b08c5;
    border-radius: 8px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    font-weight: bold;
    color: #d8d2f7;
}  

.btnBox{
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
}

.btn{
    border-radius: 8px;
    background-color: #2b08c5;
    color: goldenrod;
    font-size: 18px;
    font-weight: bold;
    padding: 8px;
    cursor: pointer;
}

#main{
    display: flex;
    justify-content: center;
}

#grid{
    
    align-items: stretch;
    display: flex;
    justify-content: stretch;
    height: 800px;
    width: 800px;
    margin-top: 30px;
    margin-bottom: 30px;
    border: 10px;
    border-style: groove;
    border-color: #2b08c5;
}

.tile{
    margin: 0px;
    padding: 0px;
    background: white;
    border-style: dotted;
    border-color: black;
    border:2px;
    flex: 1;
    
}